{% extends "myshop/layout.html" %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block body %}
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sidebar one_quarter first">
      <!-- ################################################################################################ -->
      <h6>My Shop</h6>
      <nav class="sdb_holder">
        <ul>
          <li><a href="#">Women's</a>
            <ul>
              <li><a href="{% url 'women_tops' %}">Tops</a></li>
              <li><a href="{% url 'women_bottoms' %}">Bottoms</a></li>
              <li><a href="{% url 'dresses' %}">Dresses</a></li>
              <li><a href="{% url 'women_shoes' %}">Shoes</a></li>
              <li><a href="{% url 'women_activewear' %}">Activewear</a></li>
            </ul>
          </li>
          <li><a href="#">Men's</a>
            <ul>
              <li><a href="{% url 'men_tops' %}">Tops</a></li>
              <li><a href="{% url 'men_bottoms' %}">Bottoms</a></li>
              <li><a href="{% url 'men_shoes' %}">Shoes</a></li>
              <li><a href="{% url 'men_activewear' %}">Activewear</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="content three_quarter">
      <!-- ################################################################################################ -->
      <h1>{{ product.name }}</h1>
      <img class="imgr borderedbox inspace-5" src="{{ product.photo.url }}" alt="{{ product.name }}">
      <p>Price: ${{ product.price }}</p>
      <form action="{% url 'add_to_cart' product.id %}" method="post">
        {% csrf_token %}
      <!--<ul class="nospace inline pushright">-->
      <select name="size" class="inverse">
      {% for size in sizes %}
        <!--<li><a class="btn inverse" value="{{ size }}">{{ size }}</a></li>-->
        <option value="{{ size }}">{{ size }}</option>
      {% endfor %}
      <!--</ul>-->
      </select>
      <p> </p>
       <input type="submit" class="btn" value="Add to cart"/>
      </form>
      <p> </p>
      <div id="comments">
        <h2>Comments</h2>
        {% if comments %}
        <ul>
          {% for comment in comments %}
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="{% static 'myshop/avatar.png' %}" alt=""></figure>
                <address>
                By <a href="#">{{ comment.user }}</a>
                </address>
                <time>{{ comment.time }}</time>
              </header>
              <div class="comcont">
                <p>{{ comment.text }}</p>
              </div>
            </article>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No comments.</p>
        {% endif %}
        {% if user.is_authenticated %}
        <h2>Write A Comment</h2>
        <form action="{% url 'comment' product.id %}" method="post">
        {% csrf_token %}
          <div class="block clear">
            <label for="comment">Your Comment</label>
            <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
          </div>
          <div>
            <input type="submit" name="submit" value="Submit Form">
            &nbsp;
            <input type="reset" name="reset" value="Reset Form">
          </div>
        </form>
        {% endif %}
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
{% endblock %}