{% extends "myshop/layout.html" %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block body %}
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sidebar one_quarter first">
      <!-- ################################################################################################ -->
      <h6>My Shop</h6>
      <nav class="sdb_holder">
        <ul>
          <li><a href="#">Women's</a>
            <ul>
              <li><a href="{% url 'women_tops' %}">Tops</a></li>
              <li><a href="{% url 'women_bottoms' %}">Bottoms</a></li>
              <li><a href="{% url 'dresses' %}">Dresses</a></li>
              <li><a href="{% url 'women_shoes' %}">Shoes</a></li>
              <li><a href="{% url 'women_activewear' %}">Activewear</a></li>
            </ul>
          </li>
          <li><a href="#">Men's</a>
            <ul>
              <li><a href="{% url 'men_tops' %}">Tops</a></li>
              <li><a href="{% url 'men_bottoms' %}">Bottoms</a></li>
              <li><a href="{% url 'men_shoes' %}">Shoes</a></li>
              <li><a href="{% url 'men_activewear' %}">Activewear</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="content three_quarter">
      <!-- ################################################################################################ -->
      <h1>{{ product.name }}</h1>
      <img class="imgr borderedbox inspace-5" src="{{ product.photo.url }}" alt="{{ product.name }}">
      <p>Price: ${{ product.price }}</p>
      <ul class="nospace inline pushright">
      {% for size in sizes %}
        <li><a class="btn inverse" href="#">{{ size }}</a></li>
      {% endfor %}
      </ul>
      <p> </p>
      <a class="btn" href="#">add to cart</a>
      <p> </p>
      <div id="comments">
        <h2>Comments</h2>
        <ul>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="{% static 'myshop/avatar.png' %}" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="{% static 'myshop/avatar.png' %}" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="{% static 'myshop/avatar.png' %}" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
        </ul>
        <h2>Write A Comment</h2>
        <form action="#" method="post">
          <div class="one_third first">
            <label for="name">Name <span>*</span></label>
            <input type="text" name="name" id="name" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="email">Mail <span>*</span></label>
            <input type="email" name="email" id="email" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="url">Website</label>
            <input type="url" name="url" id="url" value="" size="22">
          </div>
          <div class="block clear">
            <label for="comment">Your Comment</label>
            <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
          </div>
          <div>
            <input type="submit" name="submit" value="Submit Form">
            &nbsp;
            <input type="reset" name="reset" value="Reset Form">
          </div>
        </form>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
{% endblock %}